body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

main {
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  height: 100vh;
}

.image-container {
  position: relative;
  height: 100%;
}

#main-photo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 데스크탑을 벗어나지 않도록 설정 */
}

/* 첫 번째 페이지 버튼 스타일 */
.page1-buttons {
  position: absolute;
  top: 47%; /* 버튼 위치 조정 - 수직 중앙 */
  right: 23%; /* 버튼 위치 조정 - 중앙에서 약간 오른쪽 */
  transform: translateY(-50%); /* 버튼을 정확히 수직 중앙에 위치시킴 */
}

.page1-buttons button {
  background: none;
  border: none;
  padding: 30px 50px;
  font-size: 70px;
  cursor: pointer;
  display: block; /* 세로로 배열되도록 변경 */
  margin-bottom: 10px; /* 버튼 사이의 간격 설정 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  width: fit-content; /* 텍스트의 너비에 맞게 버튼 크기 설정 */
  margin: 0 auto; /* 가운데 정렬을 위해 margin 설정 */
  color: white; /* 글자색을 흰색으로 설정 */
  font-family: 'Roboto', sans-serif; /* 딱딱한 글꼴 설정 */
  font-weight: bold; /* 볼드체 설정 */
  font-style: italic; /* 기울임체 설정 */
  letter-spacing: 10px; /* 글자 사이 간격 넓히기 */
}

/* 두 번째 페이지 줄글들의 스타일 */
.page:nth-child(2) p {
  font-family: 'Spoqa Han Sans', sans-serif; /* 귀여운 글꼴 설정 */
  font-size: 30px; /* 글자 크기 키우기 */
}

/* 두 번째 페이지 제목 스타일 */
.page:nth-child(2) h1 {
  font-family: 'Comic Sans MS', cursive; /* 귀여운 글꼴 설정 */
  font-size: 36px; /* 제목 글자 크기 키우기 */
  font-weight: bold; /* 볼드체 설정 */
  text-align: center; /* 가운데 정렬 */
  margin-bottom: 20px; /* 아래 여백 설정 */
}

/* 두 번째 페이지 버튼 스타일 */
.page2-buttons {
  background-color: #0f2ad8; /* 버튼 배경색 설정 */
  border: 2px solid #eff620; /* 버튼 테두리 설정 */
  color: #ffffff; /* 버튼 텍스트 색상 설정 */
  font-size: 18px; /* 버튼 글자 크기 설정 */
  margin: 20px; /* 버튼 사이의 거리 증가 */
  padding: 15px 30px; /* 버튼 크기 증가 */
  cursor: pointer;
}

/* 세 번째 페이지 버튼 스타일 */
.page3-buttons {
  margin: 15px; /* 버튼 사이의 거리 */
  padding: 12px 25px; /* 버튼 크기 */
  font-size: 18px; /* 글씨 크기 */
  cursor: pointer;
}

/* 네 번째 페이지 버튼 스타일 */
.page4-buttons {
  margin: 25px; /* 버튼 사이의 거리 */
  padding: 20px 40px; /* 버튼 크기 */
  font-size: 22px; /* 글씨 크기 */
  cursor: pointer;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* 전체 높이의 80% */
}

.video-feed {
  width: 2400px;
  height: 1800px;
  border: 2px solid #000; /* 검정색 테두리 */
  object-fit: cover;
}
