<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Sign Language Converter</h1>
    </header>
    <main>
        <div class="page active">
            <div class="image-container">
                <img src="/static/figma_first_page.png" alt="Your Photo" id="main-photo">
                <div class="page1-buttons">
                    <a href="/sign_language"><button>Start</button></a>
                    <a href="/about"><button>About</button></a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
